@page "/userList"
@inject HttpClient Http

<h1>List - Users</h1>

@if (userList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in userList)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Age</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Users[] userList;

    protected override async Task OnInitAsync()
    {
        userList = await Http.GetJsonAsync<Users[]>("https://lzrtestapi.azurewebsites.net/api/user");
    }

    class Users
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public int Age { get; set; }
    }
}